@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password - STEMIUM</title>
    <style>
        #register-form {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-left: 30px;
        }

        .type {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .card-body input {
            margin-bottom: 20px;
            margin-left: 50px;
        }

        label {
            position: relative;
            left: 50px;
        }
    </style>
</head>
<body>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Change Password</h5>
                        @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
                        {
                            <div class="alert alert-success" role="alert">
                                @ViewBag.SuccessMessage
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                        {
                            <p style="text-align:center;" class="error-message">@ViewBag.ErrorMessage</p>
                        }
                        <form asp-controller="Profile" asp-action="ChangePassword" method="post">

                            <div class="col-md-9">
                                <div class="form-floating" id="currentPassword">
                                    <label for="currentPassword">Current Password</label>
                                    <input type="password" class="form-control" id="currentPassword" placeholder="Current Password" name="currentPassword" required />
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-floating" id="newPassword">
                                    <label for="newPassword">New Password</label>
                                    <input type="password" class="form-control" id="newPassword" placeholder="New Password" name="newPassword" required minlength="8"> 
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="form-floating" id="confirmPassword">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" required />
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                        <div class="error-message" id="errorMessage"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>




