<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You - STEMIUM</title>
    <style>


        .fdback {
            text-align: center;
            margin-top:150px;
            margin-bottom:150px;
        }

        .redirect-msg {
            font-size: 14px;
            color: #999;
        }
    </style>
     <script>
    setTimeout(function () {
    window.location.href = "/";
    }, 5000); // Redirect after 5 seconds
    </script>
</head>

<body>
    <div class="fdback">

        <h1>Thank You for Your Feedback!</h1>
        <p>Your feedback has been successfully submitted.</p>
        <p class="redirect-msg">You will be redirected to the home page shortly...</p>

    </div>
</body>

</html>
