<!DOCTYPE html>
<html lang="en">
@{
	ViewBag.Title = "About Us";
}
<head>
    <title>About Us - STEMIUM</title>
    <style>
        #jul {
            position: relative;
            left: 130px;
        }

        #Jhon {
            position: relative;
            left: 130px;
        }

        #Moli {
            position: relative;
            left: 130px;
        }
    </style>
</head>
<!-- Header Start -->
<div class="container-fluid bg-primary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px;">
        <h3 class="display-3 font-weight-bold text-white">About Us</h3>
 
    </div>
</div>
<!-- Header End -->
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
    

        <div class="row align-items-center">

            <div class="col-lg-5">
                <img class="img-fluid rounded mb-5 mb-lg-0" style="margin-top:80px;" src="~/img/stem4.jpg" alt="">
            </div>

            <div class="col-lg-7">
                <p class="section-title px-5" style="position-relative;bottom:50px;"><span class="px-2">Know About Us</span></p>
                <h1 class="mb-4">New Approach to Education</h1>

                <p>
                    STEMIUM! is a STEM approached learning platform that makes it easy to educate,
                    learn and teach any lesson in all subjects in minutes.
                    Let's make you the perfect, ready and expert STEM teacher.
                </p>
                <p>
                    Our platform makes it easy for any beginner teacher or student to teach, prepare, and present sessions that drive compelling engagement by stem approach .
                    All your dreams as a teacher has come to be true !
                    What you seek is ready Infront of your eyes !!
                    Lesson plans, resources, activities, questions, presentations , different teaching strategies and more in the treasurer box to discover.
                    STEMIUM! can be entered anywhere,anytime
                    with full abilities free nothing is out of your lead using any device with an internet connection.
                    Be a part of our family and sign up for your own good .
                </p>
                <p>
                    STEMIUM! offers free lesson plans designed for use in the classroom ,
                    at work—whether in-person or virtual— or at home for social use or self-study.
                    Offers different teaching strategies to choose which suits your class ,
                    offers variety of activities and games to make your classroom a heaven for all different types of students.
                    Also offers variety of ways to evaluate learning outcomes
                    ( exams - quizzes - exit tickets - game- based quizzes) and more ...
                    In STEMIUM ! As a parent you don't have to worry about how to teach in home we solved that for you just enter parent guide or explaintions and we assure you no worries anymore.
                    STEMIUM doesn't waste your time searching for trustful sites and videos just click on resources and open your eyes for the miracle,
                    All trusted sites and videos organised  and chosen carefully.

                    STEMIUM let anxiety be ours ...
                </p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Team Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Our Creators</span></p>
            <h1 class="mb-4">Who we are?</h1>
            <p>
                We are Group cükur in the third year of the Faculty of Education, STEM Department ,
                we made this site for our 6th capstone project facing one of the greatest challenges in Egypt which is improving education using technology aids ,
                we all hope by heart that you enjoy and benefit from it as you could don't forget feedback your opinion matters ..
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center team mb-5">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%; width:200px;height:200px;">
                    <img class="img-fluid w-100" src="~/img/Yasmeen2.jpg" alt="">
                    <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;" target="_blank"
                           href="https://www.facebook.com/profile.php?id=100012186100980&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" target="_blank"
                           href="https://www.linkedin.com/in/yasmin-mohamed-944ba1300?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>Yasmine Mohamed</h4>
               
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-5">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%; width:200px;height:200px;">
                    <img class="img-fluid w-100" src="~/img/Arwa.jpg" alt="">
                    <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;" target="_blank"
                           href="https://www.facebook.com/arwa.elsaid.71?mibextid=kFxxJD"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" target="_blank"
                           href="https://eg.linkedin.com/in/arwa-said-b42766246"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>Arwa Said</h4>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-5">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%; width:200px;height:200px;">
                    <img class="img-fluid w-100" src="~/img/Sandy.jpg" alt="">
                    <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;" target="_blank"
                           href="https://www.facebook.com/sandy.gamal.96742?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" target="_blank"
                           href="https://www.linkedin.com/in/sandy-gamal-2a999b300?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>Sandy Gamal </h4>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-5">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%; width:200px;height:200px;">
                    <img class="img-fluid w-100" src="~/img/Omar.jpg" alt="">
                    <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"  target="_blank"
                           href="https://www.facebook.com/profile.php?id=100011865772961&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" target="_blank"
                           href="https://www.linkedin.com/in/omar-abdalkreem-6739122a1?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>Omar Abdelkareem</h4>
            </div>
            <!--                                                 -->
            <div class="col-md-6 col-lg-3 text-center team mb-5" id="jul">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;  width:200px;height:200px;">
                    <img class="img-fluid w-100" src="~/img/Demiana2.jpg" alt="">
                    <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;" target="_blank"
                           href="https://www.facebook.com/dodoo.emad.735?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" target="_blank"
                           href="https://www.linkedin.com/in/demiana-emad-958b89300?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>Demiana Emad</h4>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-5" id="Jhon">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%; width:200px;height:200px">
                    <img class="img-fluid w-100" src="~/img/Mario.jpg" alt="">
                    <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                        
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;" target="_blank"
                           href="https://www.facebook.com/share/ubM5qsEcHFmbbFxS/?mibextid=qi2Omg"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" target="_blank"
                           href="https://www.linkedin.com/in/mario-amged-1049a7300?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>Mario Amgad</h4>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-5" id="Moli">
                <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%; width:200px;height:200px">
                    <img class="img-fluid w-100" src="~/img/Sahar.jpg" alt="">
                    <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                     
                        <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;" target="_blank"
                           href="https://www.facebook.com/sahar.shaban.1675?mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" target="_blank"
                           href="https://www.linkedin.com/in/sahar-shaban-272bb6300?trk=contact-info"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <h4>Sahar Shaban</h4>
            </div>
            <!--                                                 -->

        </div>
    </div>
</div>
<!-- Team End -->



